@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html, 
body {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  color: #FFFFFF;
  background: url('../images/anhnen-login.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#title {
  color:#09C7FA;
}
#login {
  width: 400px;
  height: 500px;
  margin: 150px 550px 100px 550px ;

  display: flex;

}
#login:hover {
}
#login_left {
  flex: 1;
  position: relative;
}
#form{
  background-color: #FFF;
  opacity: 0.5;
  width: 90%;
  height: 90%;
  padding-top: 60px;
  padding-left: 40px;
  border-radius: 3px;
}
#form:hover {
  background-color: black;
  width: 95%;
  height: 100%;
  opacity: 1;
  transition: 1s;
}
h1 {
  font-size: 35px;
  color: blue;
  padding-right: 60px;
  padding-left: 57px;
  margin-bottom: 50px;
  text-align: center;
}
#title {
  display: block;
  width: 110px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
}

#form input {
  background: transparent;
  font-size: 15px;
  color: white;
  width: 295px;
  height: 35px;
  border: none;
  outline: none;
  padding: 4px 4px;
  transition: all 0.5s ease;
}
#form input:focus {
  border-top: 1px solid blue; 
  border-left: 1px solid red;
  transition: 1s;
  border-bottom: 320px;
}
#quyenhan {
  border: none;
  width: 230px;
  height: 30px;
}
#button {
  width: 120px;
  height: 35px;
  margin-top: 25px;
  margin-left: 90px;
  background-color: white;
  color: blue;
  font-size: 14px; 
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 20px;
  opacity: 0.4;
}
#button:hover {
  font-size: 15px; 
  background-color: blue;
  color: white;
  opacity: 1;
  transition: 0.1s;
}
#textbox {
  width: 300px;
  overflow: hidden;
  font-size: 20px;
  padding: 2px;
  border-bottom: 1px solid blue;
}
#textbox:hover {
  width: 320px;
  font-size: 22px;
  transition: 0.2s;
}
#eye {
  position: absolute;
}
#a1 {
  font-size: 10px;
  display: none;
}
#a2 {
  font-size: 10px;
}
#h_1 {
  width: 295px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 0px;
}
/*------------------------------------------------------------------------------------------------------------------*/
