#header{
	color: #fff;
	background-color: #56A4FE;
	height: 88px;
}
#header h4{
	font-size: 17px;
	position: absolute;
	margin-top: 32px;
}
.top-hd{
	background-color: #fff;
	height: 28px;
	border-bottom-left-radius: 30px;
	width: 406px;
	float: right;
}

.nav-bar {
	color: white;
	height: 29px;
	width: 325px;
	margin-top: 1px;
	float: right;
	background: #56A4FE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav-bar a{
	color: white;
	font-size: 14px;
}
select{
	font-size: 13px;
	height: 20px;
}
body{
	font-family: 'Gelasio', serif;
	width: 100%;
	height: 560px;
}
#login{
	margin-top: 169px;
	font-size: 15px;
	margin-bottom: 192px;
}
img{
	margin-left: 30%;
}
form{
	position: relative;
	font-size: 13px;
	margin-left: 30%;
	width: 487px;
	height: 100px;
	border-left: 3px solid #FEA700;
	border-right: 3px solid #FEA700;
}
form input {
	height: 20px;
	width: 137px;
}
form button{
	font-size: 12px;
}
form a{
	margin-left: 50px;
}
.hi{
	position: absolute;
	margin-top: 17px;
	margin-left: 120px;
}
.hi label{
	margin-top: -5px;
	font-weight: bold;
}
footer{
	color: white;
	height: 75px;
	background-color: #56A4FE;
}
footer h4{
	font-size: 13px;
	float: left;
	margin-top: 15px;
}
footer a{
	font-size: 14px;
	color: #fff;
}
footer ul li{
	float: right;
	text-decoration: none;
	list-style-type: none;
	margin-left: 5px;
	margin-top: 17px;
}